* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif !important;
}

.navbar {
	/*background: rgb(3,179,70);
	background: linear-gradient(90deg, rgba(3,179,70,1) 5%, rgba(2,189,158,1) 100%);*/
	background: rgb(3,179,70);
	background: linear-gradient(90deg, rgba(3,179,70,1) 15%, rgba(3,179,158,1) 89%);

}

.navbar-brand {
	font-family: 'Dosis', sans-serif;
	font-size: 1.6em !important;
	color: #012d12 !important;
	user-select: none;
}

.nav-link {
	font-family: 'Raleway', sans-serif;
	color: white !important;

}

.nav-no-logout .nav-link:hover, .nav-link:active, .nav-link:focus {
	color: rgba(3,179,158,1) !important;
	background-color: white !important;
	border-radius: 50px !important;
	box-shadow: 0 6px 20px 0 rgba(0,0,0,0.5);
}

.nav-link-logout:hover, .nav-link-logout:active {
	color: #012d12 !important;
	text-shadow: 1px 1px 4px #000000;
}

/*Cards*/ /*used in transactions page*/
.card {
	background: rgb(3,179,70) !important;
	border: none !important;
}

.card-title {
	font-size: 1.4em !important; 
}

.list-group__amount {
	color: black !important;
	background-color: #04e5ca !important;
	font-weight: 600 !important;
	
}

.list-group__total-after {
	/*font-size: 1.125em;*/
	border-left: 1px solid rgb(3,179,70, 0.5) !important;
	border-right: 1px solid rgb(3,179,70, 0.5) !important;
}

/*Buttons customized*/

.button--customize {
	background-color: rgba(3,179,158,1) !important;
	border-radius: 50px !important;
	border: none !important;
}

.button--customize:hover, .button--customize:active, .button--customize:focus {
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.4);
}

/*Cards customized for /new pages (transac and categ.)*/
.card--new {
	background: rgb(3,179,70);
	background: linear-gradient(90deg, rgba(3,179,70,1) 15%, rgba(3,179,158,1) 89%) !important;
}